{% extends "base.html" %}
{% load static i18n %}
{% block title %}{{ user }}{% trans "profile at"|title %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="form-container">
    <div class="form-background">
        <div class="form-content">
            <div class="form-main-content center">
            <h1>{{ user }} {% trans "profile" %}</h1>
            {% if user.profile.photo %}
                <img class="profile-photo" src="{{ user.profile.photo.url }}">
            {% else %}
                <img src="{% static "/img/no_pic.jpg" %}">
            {% endif %}
            {% if user.first_name %}
                <p>{% trans "first name"|capfirst %}: {{ user.first_name }}</p>
            {% else %}
                <p>{% trans "First Name is not available" %}.</p>
            {% endif %}
            {% if user.last_name %}
                <p>{% trans "last name"|capfirst %}: {{ user.last_name }}</p>
            {% else %}
                <p>{% trans "Last Name is not available" %}.</p>
            {% endif %}
            <p>{% trans "email"|capfirst %}: {{ user.email }}</p>
            <div class="button-container">
                <button class="update-btn">
                    <a href="{% url "profile_update" %}" class="btn">{% trans "update"|capfirst %}</a>
                </button>
            </div >
            </div>
        </div>
    </div>
</div>
{% endblock content %}