{% extends "base.html" %}
{% load static i18n %}
{% block title %} Welcome to {{ block.super }}{% endblock title %}
{% block content %}
<body>
    <div class="container">
        <div class="content">
            <div class="main-content">
                <div class="news">

                </div>
                <div class="4block">
                    <div class='block'>
                        <h1>{% trans FAQ | title %}</h1>
                        <p></p>
                    </div>
                    <div class='block'>
                        <h1>{% trans problem solving | title %}</h1>
                        <p></p>
                    </div>
                    <div class='block'>
                        <h1>{% trans problem solving | title %}</h1>
                        <p></p>
                    </div>
                    <div class='block'>
                        <h1>{% trans problem solving | title %}</h1>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</body>
{% endblock content %}