{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans "Password reset at" %} {{ block.super }}{% endblock title %}
{% block content %}

<div class="form-container">
    <div class="form-background center">
        <div class="form-content center">
            <div class="form-main-content center">
                <h1>{% trans "Password Reset Done" %}</h1>
                <p>{% trans "You can" %} <a href="{% url "login" %}">{% trans "login" %}</a> {% trans "now with your new password" %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}