{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans "Password reset at" %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="form-container">
    <div class="form-background center">
        <div class="form-content center">
            <div class="form-main-content center">
                <h1>{% trans "Check Your Email" %}</h1>
                <p>{% trans "We have sent you an email with further instructions." %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}